## Program - The current population of a town is 10000.
### The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years.

In [1]:
# Code here
curr_pop = 10000

for i in range(10,0,-1):
    print(i,curr_pop)
    curr_pop = curr_pop/1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845

## Sequence sum

1/1! + 2/2! + 3/3! + ...

In [2]:
# Code here

n = int(input('Enter number'))

result = 0
fact = 1

for i in range(1,n+1):
    fact = fact * i
    result = result + i/fact
    
print(result)

2.7180555555555554

## Nested Loops

In [3]:
# Examples -> unique pairs

for i in range(1,5):
    for j in range(1,5):
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

## Pattern 1


 ** <br>
 *** <br>
 **** <br>

In [4]:
# Code here
rows = int(input("Enter number of rows"))

for i in range(1,rows+1):
    print(i,'*')

1 *
2 *
3 *
4 *
5 *
6 *
7 *

In [6]:
# Now handel actual problem

rows = int(input('Enter number of rows'))

for i in range(1,rows+1):
    for j in range(1,i+1):
        print('*',end=' ')       # end perameter to print in rows not line
    print()                     # to print in sequence not all in one row

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

## Pattern 2

1<br>
121<br>
12321<br>
1234321<br>

In [7]:
# Code here
# This is simple part of code

rows = int(input("Enter the number of rows"))

for i in range(1,rows):
    for j in range(1,i+1):
        print(j,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4

In [9]:
# Move on to actual problem

rows = int(input('Enter the number of rows'))

for i in range(1,rows):
    for j in range(1,i+1):
        print(j,end=' ')
    for k in range(i-1,0,-1):
        print(k,end=' ')
    print()

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

## Loop Control Statement

- Break
- Continue
- Pass

In [11]:
# How to use break statement

lower = int(input('Enter lower range'))
upper = int(input('Enter upper range'))

for i in range(lower,upper+1):
    for j in range(2,i):
        if i%j == 0:
            break
    else:
        print("it's a prime numbers", i)

it's a prime numbers 11
it's a prime numbers 13
it's a prime numbers 17
it's a prime numbers 19
it's a prime numbers 23
it's a prime numbers 29
it's a prime numbers 31
it's a prime numbers 37
it's a prime numbers 41
it's a prime numbers 43
it's a prime numbers 47

In [12]:
# Continue statement

for i in range(1,10):
    if i == 5:
        print('Skipped 5')
        continue
    print(i)

1
2
3
4
Skipped 5
6
7
8
9

In [13]:
# Pass to prevent error

for i in range(1,11):
    pass

# New Topic String

Strings are sequence of Characters

In Python specifically, strings are a sequence of Unicode Characters

- Creating Strings
- Accessing Strings
- Adding Chars to Strings
- Editing Strings
- Deleting Strings
- Operations on Strings
- String Functions

## Creating Stings

In [14]:
s = 'hello'
s = "Hello"
# tripple inverted comma for multi line string.
s = '''hello'''
s = """Hello"""
print(s)

Hello

In [15]:
# string also created with type convert function

a = str ('HELLO')

print(a)
print(type(a))

HELLO
<class 'str'>

## Accessing Substrings from a String

In [16]:
# Positive Indexing meant left to right.

a = 'hello world'
print(a[6])

w

In [17]:
# Negative Indexing means right to left.

a = 'hello world'
print(a[-10])

e

In [18]:
# Slicing

a = 'hello world'
print(a[0:5])

hello

In [19]:
a = 'hello world'
print(a[2:8])

llo wo

In [20]:
a = 'hello world'
print(a[0:11:2])

hlowrd

In [21]:
a = 'hello world'
print(a[:5])

hello

In [22]:
a = 'hello world'
print(a[:])

hello world

In [23]:
# here third position denote jumping.
a = 'hello world'
print(a[::2])

hlowrd

In [24]:
# print entire string using this way
print(a[::])

hello world

In [25]:
# print in reverse order
print(a[::-1])

dlrow olleh

In [26]:
# print world using negative indexing
a = 'hello world'
print(a[-5:])

world

In [27]:
# print only world in reverse order.
a = 'hello world'
print(a[-1:-6:-1])

dlrow

In [28]:
print(a[6:12])

world

In [29]:
print(a[::-2])

drwolh

## Editing and Deleting in Strings

In [91]:
# Python string are immutable so we can't change it if you try face this error.

a = 'hello world'
a [0] = 'H'
print(a)

TypeError: 'str' object does not support item assignment

In [31]:
# if you want to delete the entire string use this function

a = 'hello world'

del a

In [32]:
# be careful because string are immutable you can't delete any portoin
a = 'hello world'
del(a[-5:-1:2])

TypeError: 'str' object does not support item deletion

## Operations on Strings

- Arithmetic Operations
- Relational Operations
- Logical Operations
- Loops on Strings
- Membership Operations

In [33]:
# Arithmetic Operation Plus
print('Nawabshah'+ ' ' +'Lahore')

Nawabshah Lahore

In [34]:
# Arithmetic Operation Multiplication
print('Nawabshah'*5)

NawabshahNawabshahNawabshahNawabshahNawabshah

In [35]:
# Not work an other Arithmetic operations 
print('*'*70)

**********************************************************************

In [36]:
print('Nawabshah'%8)

TypeError: not all arguments converted during string formatting

In [37]:
# Relational Operations
'nawabshah' > 'lahore'

True

In [38]:
# Here used "lexiographically" technick meant measure Ascii value of words and remember point each second word are
# big from first means 'b' is graterthan 'a' also small a grather than capital A.

'Karachi' > 'karachi'

'lahore' > 'nawabshah'

False

In [39]:
# Logical Operations
# Remember in logical operations Python behave viered

'hello' and 'world'

'world'

In [40]:
'hello' or 'world'

'hello'

In [41]:
# here understand the concept when string are empty python us ko false samjhta hy
# and agar string empty na ho to python us ko true samjhta hy.

# in summary if any character are availabe in string that is true other wise empty string is false.

'' and 'world'

''

In [42]:
'' or 'world'

'world'

In [43]:
not 'hello'

False

In [44]:
not ''

True

In [45]:
# Loops on Strings

for i in 'Nawabshah':
    print(i)

N
a
w
a
b
s
h
a
h

In [46]:
for i in 'nawabshah':
    print('Lahore')

Lahore
Lahore
Lahore
Lahore
Lahore
Lahore
Lahore
Lahore
Lahore

In [47]:
# Membership Operations

'N' in 'Nawabshah'

True

In [48]:
# it's case sencitive

'l' not in 'Lahore'

True

## Common Functions They are applied each every data type like string, tupple, list, dictionary, etc.

- len
- max
- min
- sorted

In [49]:
len('hello world')

11

In [50]:
# find max value behalf Ascii value

max('hello world')

'w'

In [51]:
min('hello world')

' '

In [52]:
# sort the string in assigneding order but in list format.

sorted('hello world')

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

In [53]:
# sort the string in dessigneding order using "reverse=True" hidden perameter.

sorted('hello world',reverse=True)

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

## Capitalize/Title/Upper/Lower/Swapcase. These functions Applied at string only.

In [54]:
# first word should be capital of the string only.

a = 'hello world'

a.capitalize()

'Hello world'

In [55]:
# Each word's/Sentencies first character should be capital.
a.title()

'Hello World'

In [56]:
a.upper()

'HELLO WORLD'

In [57]:
'HELLO WORLD'.lower()

'hello world'

In [58]:
# Swapcase function swapping the words meant convert lower to upper and upper to lower.

a = 'HelLo WoRlD'
a.swapcase()

'hELlO wOrLd'

## Count/Find/Index

In [59]:
# Count function count the word how many times occurred in given string like 'm' in below string.

'my name is Ghulam Muhammad'.count('m')

5

In [60]:
# Find function tell us any character's index position.

'my name is Ghulam Muhammad'.find('M')

18

In [61]:
# But if you ask about irrelative character that find answer with '-1' means I don't know where is "b".

'my name is Ghulam Muhammad'.find('b')

-1

In [62]:
# Index function

'my name is Ghulam Muhammad'.index('i')

8

In [63]:
# Index function

'my name is Ghulam Muhammad'.index('x')

ValueError: substring not found

## endswith/startswith

In [64]:
# Endswith function tell us last character is present or not.

'my name is Ghulam Muhammad'.endswith('d')

True

In [65]:
'my name is Ghulam Muhammad'.endswith('da')

False

In [66]:
'my name is Ghulam Muhammad'.startswith('m')

True

In [67]:
'my name is Ghulam Muhammad'.endswith('x')

False

## format function

In [68]:
name = 'Ghulam Muhammad'
gender = 'male'

'Hi my name is {} and I am a {}'.format(name,gender)

'Hi my name is Ghulam Muhammad and I am a male'

In [69]:
# Order matter.

name = 'Ghulam Muhammad'
gender = 'male'

'Hi my name is {} and I am a {}'.format(gender,name)

'Hi my name is male and I am a Ghulam Muhammad'

In [70]:
name = 'Ghulam Muhammad'
gender = 'male'

'Hi my name is {1} and I am a {0}'.format(gender,name)

'Hi my name is Ghulam Muhammad and I am a male'

## isalnum/ isalpha/ isdigit/ isidentifier

In [71]:
# isalnum

'abid'.isalnum()

True

In [72]:
# isalnum

'abid12345'.isalnum()

True

In [73]:
# isalpha

'Abid'.isalpha()

True

In [74]:
#isalpha

'Abid123'.isalpha()

False

In [75]:
# isdigit

'12345'.isdigit()

True

In [76]:
# isdigit

'12345dc'.isdigit()

False

In [77]:
# isidentifier

'name1'.isidentifier()

True

In [78]:
# isidentifier

'1name'.isidentifier()

False

In [79]:
# isidentifier

'first_name'.isidentifier()

True

In [80]:
# isidentifier

'first-name'.isidentifier()

False

## Split/Join

In [81]:
# Split function by default split the string at space and return a list.

'hi my name is Ghulam Muhammad'.split()

['hi', 'my', 'name', 'is', 'Ghulam', 'Muhammad']

In [82]:
# if you want to split the string any special character insted of space you can define it like m
# here I want to split my string at any 'm' character not space.

'hi my name is Ghulam Muhammad'.split('m')

['hi ', 'y na', 'e is Ghula', ' Muha', '', 'ad']

In [83]:
'hi my name is Ghulam Muhammad'.split('M')

['hi my name is Ghulam ', 'uhammad']

In [84]:
'hi my name is Ghulam Muhammad'.split('G')

['hi my name is ', 'hulam Muhammad']

In [85]:
# join function just reversed of split.

" ".join(['hi', 'my', 'name', 'is', 'Ghulam', 'Muhammad'])

'hi my name is Ghulam Muhammad'

In [86]:
# join function just reversed of split.

" ðŸ”… ".join(['hi', 'my', 'name', 'is', 'Ghulam', 'Muhammad'])

'hi ðŸ”… my ðŸ”… name ðŸ”… is ðŸ”… Ghulam ðŸ”… Muhammad'

In [87]:
" ".join(['hi my name is ', 'hulam Muhammad'])

'hi my name is  hulam Muhammad'

In [88]:
"".join(['hi my name is ', 'hulam Muhammad'])

'hi my name is hulam Muhammad'

## Replace

In [89]:
# replace function replace the given part but remember "String are immutable data sate" so actually here python create
# a new string not chage existing string.

'hi my name is Ghulam Muhammad'.replace('Ghulam','Abid')

'hi my name is Abid Muhammad'

## Strip function

In [90]:
# strip function used to remove unnecessary space

"Ghulam Muhammad                       ".strip()

'Ghulam Muhammad'